<a href="https://colab.research.google.com/github/kgaurav1991/Python_Programming/blob/main/Python_Basic_Program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
num = 10
print(num)

temp = num
print(temp)
print(type(temp))
# println(num)  # Compile TimeError / IndentationError: unexpected indent

10
10
<class 'int'>

In [5]:
# 1. Swipping Two Number
x , y = 10 , 20
print(x , y)
x , y = y , x
print(x , y)

10 20
20 10

In [6]:
# 2. Swipping Two Number
a , b = 1 , 2
a = a + b
b = a - b
a = a - b
print(a , b)

2 1

In [8]:
# 3. Swipping Two Number
a , b = 10 , 20
print(a,b)
a = (a+b) - (b := a)
print(a,b)

10 20
20 10

In [9]:
# 3. Swipping Two Number
a , b = 1 , 2
print(a,b)
a = a^b
b = a^b
a = a^b
print(a,b)

1 2
2 1

In [66]:
#1. Write a program to Palindrome
num = 'madam'
if num == num[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

In [69]:
#2. Write a program to Palindrome
num = 121
sum =0
temp = num

while num != 0:
    r = num % 10
    sum = sum * 10 + r
    num = num // 10
if temp == sum:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

In [73]:
# Fibonacci Series
num = int(input("Enter the number: "))

a , b = 0 , 1
print("Fibonacci Series: ")
for i in range(num):
    print(a , end = " ")
    c = a + b
    a = b
    b = c

Enter the number: 5
Fibonacci Series:
0 1 1 2 3

In [74]:
# 2. Fibonacci Using Recursion
def fibonacci(n):
    if n <= 1:
        return n
    return fibonacci(n-1) + fibonacci(n-2)


terms = int(input("Enter number of terms: "))


for i in range(terms):
    print(fibonacci(i), end=" ")

Enter number of terms: 5
0 1 1 2 3

In [75]:
# Write a program to prime Number
num = int(input("Enter a number: "))

if num <= 1:
    print("Not a Prime Number")
else:
    for i in range(2, num):
        if num % i == 0:
            print("Not a Prime Number")
            break
    else:
        print("Prime Number")

Enter a number: 10
Not a Prime Number

Data type Conversion:--

Data type conversion is the conversion of object from one data type to another data type.

implicity:--
An implicity type conversion is a conversion performed by the python interpreter without programmer's intervertion.

In [11]:
a = 4
b = 0.5
c = a + b # without user convertion
print(c)

4.5

Explicit:--
An Explicit type conversion is User-defined that forces on expression or to be of specife data type.

In [15]:
a = 4
b = "40"
c = a + int(b) # integer User convertion
print(c)

44

In [16]:
num = '10'
num1 = '11'
num2 = int(num) + int(num1)
print(num2)

21

In [18]:
bool(0)

False

In [19]:
bool(1)

True

In [20]:
name , age , city = 'Kumar' , 35 , 'Sasaram'
print(name, age, city)

Kumar 35 Sasaram

In [21]:
a = input("Enter the first number: ")
b = input("Enter the second number:")
a == b

Enter the first number: 2
Enter the second number:2

True

In [23]:
a = 2
a * 2

4

In [24]:
a = 2
4 ** 2 # 4*4 = 16

16