<a href="https://colab.research.google.com/github/kgaurav1991/Python_Programming/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuple:--

() -> bracket to denote tuples. like: int,float,String,bool etc.

immutable -> unchangeable Order Collection of hetergenoues values.(mixted data type) index-0 1 2 3 4 ex- tuple = (1,2,3,4,5) index-5 -4 -3 -2 -1 tuple.append() # Error tuple.drop() # Error

In [1]:
tuple = (1,2,3,4,5)
print(tuple)
tuple1 = (6,7)

print(tuple[0]) # 1
print(tuple[:0]) # Null ()
print(tuple[0:0]) # Null ()
print(tuple[0:]) # (1,2,3,4,5)
print(tuple[1:]) # (2,3,4,5)
print(tuple[3:]) # (4, 5)
print(tuple[4:]) # (5,)
print(tuple[-1:]) # (5,)
print(tuple[:-1]) # (1, 2, 3, 4)
print(tuple[1:3]) # (2, 3)
print(tuple[-3:-1]) # (3, 4)

print(tuple + tuple1) # (1, 2, 3, 4, 5, 6, 7)
print(tuple + (6,7,8)) #  (1, 2, 3, 4, 5, 6, 7,8)
print(tuple * 2) # (1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)
1
()
()
(1, 2, 3, 4, 5)
(2, 3, 4, 5)
(4, 5)
(5,)
(5,)
(1, 2, 3, 4)
(2, 3)
(3, 4)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [2]:
t = (7,1,2,6,3,2,4,5)
print(t.count(2)) # 2 -> two time count in t
print(t.index(2)) # 1 -> first index of two
print(sorted(t)) # [1, 2, 2, 3, 4, 5, 6, 7]
print(max(t)) # 7
print(min(t)) # 1

print(99 in t) # False
print(6 in t) # True
print('Kumar' in t) #False

2
2
[1, 2, 2, 3, 4, 5, 6, 7]
7
1
False
True
False

In [3]:
# Iteration in Tuple Using for Loop
t = (7,1,2,6,3,2,4,5)
for i in t:
    print(i)

7
1
2
6
3
2
4
5

In [4]:
# Sum in tuple values
tuple = (1,2,3,4,5)
sum = 0
for i in tuple:
  sum += i
print(f"Add Tuple Values: {sum}")

Add Tuple Values: 15

In [5]:
# Tuple Reverse program
tuple = (1,2,3,4,5)
print("Tuple Reverse :")
print(tuple[::-1])

Tuple Reverse :
(5, 4, 3, 2, 1)

In [17]:
# Indexing & Slicing
word = "Python"
print(word[0]) # P
print(word[5]) # n
print(word[-1]) # n
print(word[-6]) # P
print(word[0:6]) # Python
print(word[0:3]) # Pyt
print(word[::-1]) # nohtyP
print(word[-1 : -7 : -1]) # nohtyP
print(word[::1]) # Pytho
print(word[1:4]) # yth
print(word[:]) # Python
print(word[-4:]) # thon

P
n
n
P
Python
Pyt
nohtyP
nohtyP
Python
yth
Python
thon